@media only screen and (min-width: 35rem) {
/* Body */


/* Header */
header img {width: 4.5rem;}
header h1 {font-size: 2rem;}
header h3 {font-size: 1.5rem;}

/* Navigation */
nav ul {
    display: flex;
    justify-content: space-around;
}
nav ul li {
    width: 25%;
}
nav ul li a{
    padding: .5rem 1rem;
}

/* Main */
.logo {
    width: 10rem;
}

.pallet {
    width: 10rem;
}
/* Footer */



}