@media only screen and (min-width: 1028px) {

/*                  Genereal                   */

h1, h2, h3, h4, p {
    font-size: 2rem;
}

.large {
    max-width: 56rem;
    margin: 0 auto;
}

.business {
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    margin-bottom: 1em;
}

.business h1 {
    grid-column: 1/4;
}

.bz {
    display: block;
}



/*          Gallery         */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gallery figure:hover {box-shadow: 0 0 50px #333;}



}
