/*                  General                 */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

/*                  Body                    */
body {
    font-size: 16px;
    font-family: 'Kiwi Maru', serif;
    }

h1, h2, h3, h4 {font-family: 'Lato', sans-serif;}


/*                  Header                  */
header {
    padding-top: 0;
    margin-top: 0;
    background-color: #605b56;
}

header img {
    float: left; 
    margin: 1rem;
    padding: 10px; 
    width: 80px;
    border: none;
    border-radius: 100px;
    background-color: white;
}

header h1 {
    font-size: 1.2rem;
    margin-top: 0rem;
    padding-left: 8rem;
    padding-top: 3rem;
    color: #ffffff;
}

nav button {
    margin: .2rem 90%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: white;
}
nav {
background: rgb(96,91,86); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(96,91,86,1) 0%, rgba(192,216,224,1) 0%, rgba(96,91,86,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(96,91,86,1) 0%,rgba(192,216,224,1) 0%,rgba(96,91,86,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(96,91,86,1) 0%,rgba(192,216,224,1) 0%,rgba(96,91,86,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#605b56', endColorstr='#605b56',GradientType=0 ); /* IE6-9 */
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: block;
    color: #ffffff;
    padding: .5rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
}

nav ul li.active a {
    background-color: #94afb3;
    color: #000000;
}

nav ul li a:hover {
   background-color: #CAD49D;
    color: black;
}

nav ul.hide {display: none;}




/*                  Main                    */

.hero {
    position: relative;
    align-items: center;
}

.heroimg img{
    display: block;
    width: 100%;
}

.weathersummary {
    position: absolute;
    top: .5rem;
    left: .5rem;
    background: radial-gradient(#605b56, #c0d8e0);
    opacity: .8
}

.weathersummary p {
    font-size: 12px; 
    margin: .5rem;
    color: white;
    font-weight: bold;
    text-shadow: -1px -1px 2px black;
}

.announcement {
    color: #cad49d;
    margin: .5rem;
    text-align: center;
}

.business {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-bottom: 1em;
    margin-bottom: 50px;
}

.bz {
    border: white solid 1px;
    border-radius: 10px;  
    margin: 10px;
    background-color: #C0D8E0;
}

.business img {
    padding-top: 35px;
    border-radius: .7rem;
    width: 90%;
    padding: 5px;
}

.ccommerce, .join {
    padding: 1rem;
    text-align: justify;
    margin: 1rem;
}



.submitbutton {
    display: block;
    border: none;
    border-radius: 5px;
    background-color: #605b56;
    color: white;
    padding: .75rem 1.5rem;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 2rem;
}

/*                  Upcoming                    */
 
.upcoming {
    border: none;
    border-radius: 10px;
    width: 80%;
    background-color: #D4EAC8;
    margin: 6% auto;
    padding: 10px;
    box-shadow: 0 0 15px #605B56;
    margin-bottom: 50px;
}

.upcoming h2 {
    color: #605B56;
    border-bottom: 2px solid #605B56;
    text-align: center;
    padding: 10px;
    margin: 0;
}

.upcoming p {
    color: #605B56;
    text-align: center;
}


/*                  Forecast                    */

.forecast {
   width: 90%;
   margin: auto;
   text-align: center;
   margin-bottom: 30px;
}


.forecast-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
text-align: center;
}
                                        
.dfc {
border-radius: 100px;
margin: .5rem;
box-shadow: 0 0 15px #605b56;
padding: 10px;
}
                    
.dfc h4{
    font-size: .8rem;
    margin: 0;
}
.dfc p{margin: 0;}
                    
.dfc img {
width: 4rem;
margin: -10px;
}

.info {
    background-color: #c0d8e0;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.company {
    grid-column: 1/3;
}

.socialmedia {
    grid-column: 2/3;
    border-bottom: none;
}

.smlogo {
    text-decoration: none;
}
  
  .smlogo img {
      width: 30px;
      margin: 5px;
  }


/*                  Footer                  */
footer {
    background-color: #605b56;
    color: #ffffff;
    font-size: .7rem;
    padding: .7rem;
    text-align: center;
    max-width: 100%;
}


/*                  City                    */

.cityinfo{
    padding: 1rem;
    margin: 1rem;
}

.cityinfo p {
    text-align: justify;
    text-justify: inter-word;
}

.sojolink {
    margin-left: 60%;
    color: blue;
}

.gallery{
    display: block;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 1rem;
    align-items: center;
    justify-items:center;
    margin: 0 0 1rem 0;
}

.gallery img {
    filter: blur(0em);
    transition: filter 0.5s;
    width: 100%;
  }

  .gallery img[data-src] {
    filter: blur(0.2em);
  }

  .gallery figure {
    box-shadow: -8px 5px 15px 5px #c1c1c1;
}

.gallery figcaption {
    padding: .7rem 1rem;
    text-align: center;
}

 



/*                    join                    */

.join img {
    width: 100%;
}

form {
    display: block;
    width: 90%;
    margin: auto;
}

fieldset {
    border: 2px solid #605b56;
    border-radius: 5px;
    margin-bottom: 1rem;
}

legend {
    padding: .5rem;
    font-size: 1.5rem;
}

form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

form input, form input:required {
    width: 100%;
    border-radius: 3px;
    padding: .5rem;
}

form input:required {
    border-left: solid 3px red;
}

.opt {
    display: block;
    padding: .75rem 1rem;
}

form label.opt input {
    width: 10%;
}

.reg{
    display: block;
    margin: 2.5rem;
    padding: 1rem;
}

form textarea {
    width: 100%;
    border: 2px solid #61565c;
    border-radius: 4px;
    padding: 1rem;
    height: 200px;
}

/*                  Contact us                  */

table {
    margin: auto;
    width: 90%;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 2rem;
}

thead th {
    background-color: #cad49d;
    
}

table th td
 {
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #c0d8e0;
}

.embed {
    margin: 1rem;
    width: 90%;
}

.map, .video {
    width: 100%;
    margin-bottom: 1rem;
}

.video {
    max-width: 560px;
}


/*                  Directory                   */

.cards {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    width: 90%;
}

.cards section {
    border: solid #56a3a6;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 15px #605b56;
}

.cards section img {
    width: 80%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}